{:highlights [{:id #uuid "64777655-52b3-4687-83b1-56e316155be9",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 933.605224609375,
                                     :y2 1268.8125,
                                     :width 1031.8880000000001,
                                     :height 1459.328},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 546.609375,
                                   :y1 122.8125,
                                   :x2 933.605224609375,
                                   :y2 142.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 546.609375,
                                   :y1 145.6875,
                                   :x2 605.6329956054688,
                                   :y2 165.6875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 615.984375,
                                   :y1 145.6875,
                                   :x2 750.0252075195312,
                                   :y2 165.6875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 760.25,
                                   :y1 145.6875,
                                   :x2 847.1658325195312,
                                   :y2 165.6875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 857.390625,
                                   :y1 145.6875,
                                   :x2 933.5260009765625,
                                   :y2 165.6875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 546.625,
                                   :y1 168.5625,
                                   :x2 933.51953125,
                                   :y2 188.5625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 546.625,
                                   :y1 191.640625,
                                   :x2 846.5271606445312,
                                   :y2 211.640625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 458.171875,
                                   :y1 1111.359375,
                                   :x2 485.19732666015625,
                                   :y2 1131.359375,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1134.234375,
                                   :x2 485.24896240234375,
                                   :y2 1154.234375,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1157.21875,
                                   :x2 124.4814453125,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 143.3125,
                                   :y1 1157.21875,
                                   :x2 201.125,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 217.15625,
                                   :y1 1157.21875,
                                   :x2 291.5682678222656,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 310.34375,
                                   :y1 1157.21875,
                                   :x2 344.1875,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 360.28125,
                                   :y1 1157.21875,
                                   :x2 386.470703125,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 405.203125,
                                   :y1 1157.21875,
                                   :x2 485.2807312011719,
                                   :y2 1177.21875,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1180.078125,
                                   :x2 484.8101501464844,
                                   :y2 1200.078125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1203.0625,
                                   :x2 168.84205627441406,
                                   :y2 1223.0625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 179.09375,
                                   :y1 1203.0625,
                                   :x2 311.1330261230469,
                                   :y2 1223.0625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 321.484375,
                                   :y1 1203.0625,
                                   :x2 450.7545471191406,
                                   :y2 1223.0625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 461.078125,
                                   :y1 1203.0625,
                                   :x2 485.1997375488281,
                                   :y2 1223.0625,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1225.9375,
                                   :x2 484.82073974609375,
                                   :y2 1245.9375,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 98.265625,
                                   :y1 1248.8125,
                                   :x2 154.25,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 166.1875,
                                   :y1 1248.8125,
                                   :x2 216.8966064453125,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 232.015625,
                                   :y1 1248.8125,
                                   :x2 250.359375,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 262.171875,
                                   :y1 1248.8125,
                                   :x2 287.9610290527344,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 302.953125,
                                   :y1 1248.8125,
                                   :x2 339.59375,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 351.515625,
                                   :y1 1248.8125,
                                   :x2 384.03497314453125,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 399.140625,
                                   :y1 1248.8125,
                                   :x2 449.1875,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}
                                  {:x1 461.125,
                                   :y1 1248.8125,
                                   :x2 485.2483215332031,
                                   :y2 1268.8125,
                                   :width 1031.8880000000001,
                                   :height 1459.328}),
                          :page 2},
               :content {:text "two important aspects of the VLM system which are the energy efficiency and the propulsion efficiency. The former relates to the efficiency in the heat transfer process occurring inside the vaporization chamber. The latter relates to the friction losses in the fluid flow inside the vaporization chamber that affects the thrust and specific impulse. Friction losses are known to impact the nozzle performance as well but here we focus only on the chamber aspects."},
               :properties {:color "red"}}],
 :extra {:page 5}}
