{:blocks (
{:block/created-at 1690868311036
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64b187ff-8ae0-4207-9d44-4c112880be1d"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "96bfd540-302d-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [288 216]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690868285634}}
:block/updated-at 1690868311036} 
{:block/created-at 1690868392805
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "64b187ff-8c1a-4dcb-9cae-967f94f67897"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.99997279293003]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c0de4dc0-302d-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [288 320]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690868356282}}
:block/updated-at 1690868392805} 
{:block/created-at 1690868393949
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "64b187ff-820c-4011-be5d-5dc586619e2e"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.99997279293003]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cf42d7f0-302d-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [288 424]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690868380487}}
:block/updated-at 1690868393949} 
{:block/content "Reference Temperature Approach"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64c89969-afb2-45bb-9783-37d984eb6670"}
:block/parent 
{:block/uuid #uuid "64c89969-afb2-45bb-9783-37d984eb6670"}
:block/uuid #uuid "64c89d69-9d17-4c86-91e6-11469729428d"} 
{:block/created-at 1690869193955
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "64b187ff-ebbe-48b2-a3d0-bab106f918e7"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41.00003602390026]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7ec59c20-302f-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [288 512]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690869104887}}
:block/updated-at 1690869193955} 
{:block/created-at 1690869213750
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "64b187ff-2db4-4fe4-997f-f52657d8a1a0"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [272 41.000004408415144]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [800 344]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690869162643}}
:block/updated-at 1690869213750} 
{:block/created-at 1690869213750
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "a941c502-302f-11ee-ae3c-1b4e0ece8468"
:fontWeight 400
:noFill true
:point [688 240]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [108 103.74]
:bindingId "a941c501-302f-11ee-ae3c-1b4e0ece8468"}}
:decorations 
{:end "arrow"}
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:nonce 1690869175693
:italic false}}
:block/updated-at 1690869213750} 
{:block/created-at 1690869213750
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "ac39f662-302f-11ee-ae3c-1b4e0ece8468"
:fontWeight 400
:noFill true
:point [689 351.27]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "ac39f660-302f-11ee-ae3c-1b4e0ece8468"}
:end 
{:id "end"
:canBind true
:point [107 5.73]
:bindingId "ac39f661-302f-11ee-ae3c-1b4e0ece8468"}}
:decorations 
{:end "arrow"}
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:nonce 1690869180694
:italic false}}
:block/updated-at 1690869213750} 
{:block/created-at 1690869213748
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "ae4d6d12-302f-11ee-ae3c-1b4e0ece8468"
:fontWeight 400
:noFill true
:point [689 387.37]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 48.57]
:bindingId "afe1c8b1-302f-11ee-ae3c-1b4e0ece8468"}
:end 
{:id "end"
:canBind true
:point [107 0]
:bindingId "ae4d6d11-302f-11ee-ae3c-1b4e0ece8468"}}
:decorations 
{:end "arrow"}
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:nonce 1690869184240
:italic false}}
:block/updated-at 1690869213748} 
{:block/created-at 1690869213750
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:fontWeight 400
:noFill true
:point [689 389]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 129.58]
:bindingId "b7063ea1-302f-11ee-ae3c-1b4e0ece8468"}
:end 
{:id "end"
:canBind true
:point [193.19 0]
:bindingId "bd8aa401-302f-11ee-ae3c-1b4e0ece8468"}}
:decorations 
{:end "arrow"}
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:nonce 1690869196552
:italic false}}
:block/updated-at 1690869213750} 
{:block/created-at 1690869360866
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 9
:scale [1 1]
:pageId "64b187ff-b52e-49a5-9e78-41334db85922"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 63.18748724507946]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "11e3cf90-3030-11ee-ae3c-1b4e0ece8468"
:noFill false
:point [952 64]
:parentId "64c89969-afb2-45bb-9783-37d984eb6670"
:collapsedHeight 0
:nonce 1690869351217}}
:block/updated-at 1690869360866})
:pages (
{:block/uuid #uuid "64c89969-afb2-45bb-9783-37d984eb6670"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64c89969-afb2-45bb-9783-37d984eb6670"
:name "micropropulsion modelling"
:bindings 
{:ac39f660-302f-11ee-ae3c-1b4e0ece8468 
{:id "ac39f660-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "ac39f662-302f-11ee-ae3c-1b4e0ece8468"
:toId "c0de4dc0-302d-11ee-ae3c-1b4e0ece8468"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:a941c501-302f-11ee-ae3c-1b4e0ece8468 
{:id "a941c501-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "a941c502-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.13 0.79]
:distance 4}
:ac39f661-302f-11ee-ae3c-1b4e0ece8468 
{:id "ac39f661-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "ac39f662-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:ae4d6d10-302f-11ee-ae3c-1b4e0ece8468 
{:id "ae4d6d10-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "ae4d6d12-302f-11ee-ae3c-1b4e0ece8468"
:toId "cf42d7f0-302d-11ee-ae3c-1b4e0ece8468"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:b59dfc11-302f-11ee-ae3c-1b4e0ece8468 
{:id "b59dfc11-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.39 0.37]
:distance 4}
:afe1c8b1-302f-11ee-ae3c-1b4e0ece8468 
{:id "afe1c8b1-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "ae4d6d12-302f-11ee-ae3c-1b4e0ece8468"
:toId "cf42d7f0-302d-11ee-ae3c-1b4e0ece8468"
:handleId "start"
:point [0.92 0.6]
:distance 4}
:ae4d6d11-302f-11ee-ae3c-1b4e0ece8468 
{:id "ae4d6d11-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "ae4d6d12-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.23 0.37]
:distance 4}
:b59dfc10-302f-11ee-ae3c-1b4e0ece8468 
{:id "b59dfc10-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:toId "7ec59c20-302f-11ee-ae3c-1b4e0ece8468"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:b7063ea1-302f-11ee-ae3c-1b4e0ece8468 
{:id "b7063ea1-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:toId "7ec59c20-302f-11ee-ae3c-1b4e0ece8468"
:handleId "start"
:point [0.94 0.51]
:distance 4}
:bd8aa401-302f-11ee-ae3c-1b4e0ece8468 
{:id "bd8aa401-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.48 0.34]
:distance 4}
:b8749bb1-302f-11ee-ae3c-1b4e0ece8468 
{:id "b8749bb1-302f-11ee-ae3c-1b4e0ece8468"
:type "line"
:fromId "b59dfc12-302f-11ee-ae3c-1b4e0ece8468"
:toId "a16040a0-302f-11ee-ae3c-1b4e0ece8468"
:handleId "end"
:point [0.34 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("96bfd540-302d-11ee-ae3c-1b4e0ece8468" "c0de4dc0-302d-11ee-ae3c-1b4e0ece8468" "cf42d7f0-302d-11ee-ae3c-1b4e0ece8468" "7ec59c20-302f-11ee-ae3c-1b4e0ece8468" "a16040a0-302f-11ee-ae3c-1b4e0ece8468" "a941c502-302f-11ee-ae3c-1b4e0ece8468" "ac39f662-302f-11ee-ae3c-1b4e0ece8468" "ae4d6d12-302f-11ee-ae3c-1b4e0ece8468" "b59dfc12-302f-11ee-ae3c-1b4e0ece8468" "11e3cf90-3030-11ee-ae3c-1b4e0ece8468")}}
:block/updated-at 1690869360866
:block/created-at 1690868073660
:block/type "whiteboard"
:block/name "micropropulsion modelling"
:block/original-name "micropropulsion modelling"})}