{:highlights [{:id #uuid "65080f0c-2449-4e16-a00c-97fb33da409d",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 766.2857437133789,
                                     :x2 899.0000610351562,
                                     :y2 1271.4375610351562,
                                     :width 899,
                                     :height 1271.4423393518302},
                          :rects ({:x1 0,
                                   :y1 766.2857437133789,
                                   :x2 0,
                                   :y2 785.7143249511719,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 0,
                                   :y1 782.2857437133789,
                                   :x2 0,
                                   :y2 801.7143249511719,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 0,
                                   :y1 800.0000305175781,
                                   :x2 899.0000610351562,
                                   :y2 800.0000305175781,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 446.7805873155594,
                                   :y1 1109.0714721679688,
                                   :x2 844.6808558702469,
                                   :y2 1126.2143249511719,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 286.14286148548126,
                                   :y1 1128.0179138183594,
                                   :x2 844.6565333604813,
                                   :y2 1145.1607666015625,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 286.14286148548126,
                                   :y1 1146.9643249511719,
                                   :x2 720.5004969835281,
                                   :y2 1164.107177734375,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 0,
                                   :y1 1271.4375610351562,
                                   :x2 899.0000610351562,
                                   :y2 1271.4375610351562,
                                   :width 899,
                                   :height 1271.4423393518302}),
                          :page 15},
               :content {:text "The decrease in Hc is attributed to the formation of larger grains, and the grains in the PTA-welded coatings are preferably oriented in the easiest direction of magnetization, resulting in the increase in Ms."},
               :properties {:color "yellow"}}
              {:id #uuid "65080f3c-027b-47d8-8778-a2f806ff8e4d",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 14.285720825195312,
                                     :x2 847.2103968858719,
                                     :y2 218.91964721679688,
                                     :width 899,
                                     :height 1271.4423393518302},
                          :rects ({:x1 0,
                                   :y1 14.285720825195312,
                                   :x2 0,
                                   :y2 33.71429443359375,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 0,
                                   :y1 30.285720825195312,
                                   :x2 0,
                                   :y2 49.71429443359375,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 0,
                                   :y1 46.28572082519531,
                                   :x2 0,
                                   :y2 65.71429443359375,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 286.14286148548126,
                                   :y1 144.8125,
                                   :x2 844.6628810167313,
                                   :y2 161.95535278320312,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 286.14286148548126,
                                   :y1 163.75894165039062,
                                   :x2 847.2103968858719,
                                   :y2 180.90179443359375,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 749.7589808702469,
                                   :y1 170.4285888671875,
                                   :x2 756.1160975694656,
                                   :y2 183,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 285.607155919075,
                                   :y1 182.70535278320312,
                                   :x2 846.9018031358719,
                                   :y2 199.84823608398438,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 835.4375087022781,
                                   :y1 188.4910888671875,
                                   :x2 841.1518031358719,
                                   :y2 201.0625,
                                   :width 899,
                                   :height 1271.4423393518302}
                                  {:x1 286.14286148548126,
                                   :y1 201.77679443359375,
                                   :x2 814.9237452745438,
                                   :y2 218.91964721679688,
                                   :width 899,
                                   :height 1271.4423393518302}),
                          :page 16},
               :content {:text "Under the experimental conditions in this paper, the coating maximum width and the welding surplus height increase with the rise in welding HI and Pd, respectively. The coating’s Hc decreases whereas its Ms increases sharply with the growth in Dv, and the former increases but the latter decreases with the increasing welding HI."},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
