{:highlights [{:id #uuid "6491690c-d385-4d55-a4d4-329b45277f94",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1077.3157958984375,
                                     :y2 933.125,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 1059.71875,
                                   :y1 772.1875,
                                   :x2 1072.0625,
                                   :y2 799.1875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.703125,
                                   :y1 776.921875,
                                   :x2 1049.7056884765625,
                                   :y2 798.921875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 805.3125,
                                   :x2 646.453857421875,
                                   :y2 827.3125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 657.84375,
                                   :y1 805.3125,
                                   :x2 731.687255859375,
                                   :y2 827.3125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 742.9375,
                                   :y1 805.3125,
                                   :x2 862.5001220703125,
                                   :y2 827.3125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 873.75,
                                   :y1 805.3125,
                                   :x2 986.4810791015625,
                                   :y2 827.3125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 997.84375,
                                   :y1 805.3125,
                                   :x2 1077.24462890625,
                                   :y2 827.3125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 831.703125,
                                   :x2 1077.3157958984375,
                                   :y2 853.703125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 858.21875,
                                   :x2 658.9884033203125,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 673.078125,
                                   :y1 858.21875,
                                   :x2 688.671875,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 698.875,
                                   :y1 858.21875,
                                   :x2 732.7965087890625,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 747,
                                   :y1 858.21875,
                                   :x2 769.359375,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 779.53125,
                                   :y1 858.21875,
                                   :x2 803.40185546875,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 817.578125,
                                   :y1 858.21875,
                                   :x2 924.484375,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 934.578125,
                                   :y1 858.21875,
                                   :x2 970.686767578125,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 984.75,
                                   :y1 858.21875,
                                   :x2 1077.2794189453125,
                                   :y2 880.21875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 884.609375,
                                   :x2 745.604248046875,
                                   :y2 906.609375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 759.484375,
                                   :y1 884.609375,
                                   :x2 886.632080078125,
                                   :y2 906.609375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 900.625,
                                   :y1 884.609375,
                                   :x2 1023.237060546875,
                                   :y2 906.609375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 1037.1875,
                                   :y1 884.609375,
                                   :x2 1077.2535400390625,
                                   :y2 906.609375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 911.125,
                                   :x2 818.713134765625,
                                   :y2 933.125,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 2},
               :content {:text "In this paper, the total heat transfer coefficient h is used to measure the efficiency in the heat transfer and it is desired to be as high as possible, i.e. it has to be maximized. The propulsion efficiency is measured by the pressure drop caused by the pillars."},
               :properties {:color "red"}}
              {:id #uuid "6491691b-c1c7-4740-b2d3-c7e78af1aabe",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 1077.23681640625,
                                     :y2 1464.25,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.703125,
                                   :y1 143.015625,
                                   :x2 1077.23681640625,
                                   :y2 165.015625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.703125,
                                   :y1 169.40625,
                                   :x2 698.810791015625,
                                   :y2 191.40625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 710.75,
                                   :y1 169.40625,
                                   :x2 865.404052734375,
                                   :y2 191.40625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 877.203125,
                                   :y1 169.40625,
                                   :x2 977.513427734375,
                                   :y2 191.40625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 989.296875,
                                   :y1 169.40625,
                                   :x2 1077.1376953125,
                                   :y2 191.40625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 195.796875,
                                   :x2 1077.1484375,
                                   :y2 217.796875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 630.71875,
                                   :y1 222.421875,
                                   :x2 976.757568359375,
                                   :y2 244.421875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1283.640625,
                                   :x2 149.17578125,
                                   :y2 1305.640625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 160.3125,
                                   :y1 1283.640625,
                                   :x2 228.5750732421875,
                                   :y2 1305.640625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 239.65625,
                                   :y1 1283.640625,
                                   :x2 388.01953125,
                                   :y2 1305.640625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 399.171875,
                                   :y1 1283.640625,
                                   :x2 488.47265625,
                                   :y2 1305.640625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 499.625,
                                   :y1 1283.640625,
                                   :x2 559.8563232421875,
                                   :y2 1305.640625,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1310.046875,
                                   :x2 559.90185546875,
                                   :y2 1332.046875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1336.546875,
                                   :x2 143.63323974609375,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 165.359375,
                                   :y1 1336.546875,
                                   :x2 232.078125,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 250.5625,
                                   :y1 1336.546875,
                                   :x2 336.437744140625,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 358.09375,
                                   :y1 1336.546875,
                                   :x2 397.140625,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 415.703125,
                                   :y1 1336.546875,
                                   :x2 445.933349609375,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 467.546875,
                                   :y1 1336.546875,
                                   :x2 559.9520263671875,
                                   :y2 1358.546875,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1362.953125,
                                   :x2 559.4014282226562,
                                   :y2 1384.953125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1389.453125,
                                   :x2 194.81524658203125,
                                   :y2 1411.453125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 206.65625,
                                   :y1 1389.453125,
                                   :x2 359.01397705078125,
                                   :y2 1411.453125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 370.953125,
                                   :y1 1389.453125,
                                   :x2 520.1036987304688,
                                   :y2 1411.453125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 532.015625,
                                   :y1 1389.453125,
                                   :x2 559.8402099609375,
                                   :y2 1411.453125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1415.859375,
                                   :x2 559.40771484375,
                                   :y2 1437.859375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 113.390625,
                                   :y1 1442.25,
                                   :x2 178,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 191.75,
                                   :y1 1442.25,
                                   :x2 250.2813720703125,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 267.71875,
                                   :y1 1442.25,
                                   :x2 288.875,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 302.515625,
                                   :y1 1442.25,
                                   :x2 332.2655029296875,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 349.5625,
                                   :y1 1442.25,
                                   :x2 391.84375,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 405.59375,
                                   :y1 1442.25,
                                   :x2 443.12249755859375,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 460.546875,
                                   :y1 1442.25,
                                   :x2 518.3125,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 532.0625,
                                   :y1 1442.25,
                                   :x2 559.8890991210938,
                                   :y2 1464.25,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 2},
               :content {:text "The goal of the optimization is related to two important aspects of the VLM system which are the energy efficiency and the propulsion efficiency. The former relates to the efficiency in the heat transfer process occurring inside the vaporization chamber. The latter relates to the friction losses in the fluid flow inside the vaporization chamber that affects the thrust and specific impulse. Friction losses are known to impact the nozzle performance as well but here we focus only on the chamber aspects."},
               :properties {:color "red"}}],
 :extra {:page 2}}
